@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../node_modules/mapbox-gl/dist/mapbox-gl.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 214, 219, 220;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

p {
  margin-bottom: 1rem;
}

@layer components {
  .page-content h1 {
    @apply text-2xl font-bold mb-2;
  }
  .page-content h2 {
    @apply text-xl font-bold mb-2;
  }
}
